@use "../../styles/_variables.sass" as *;

.form {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.image_and_header {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
  max-width: 300px;
  border: 4px solid $subheading;
  border-radius: 8px;
}

.sublabel_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .sublabel {
    line-height: 20px;
  }
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input_label {
  color: $subheading;
}

.input_sublabel {
  color: $input;
  font-size: 12px;
  line-height: 16px;
}

.input_section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  .input {
    color: black;
    width: 100%;
    background-color: white;
    height: 2.5rem;
    font-family: "Poppins";
    font-size: 14px;
    padding-left: 1.5rem;
    border: 1px solid $inputBorder;
    border-radius: 0.625rem;
  }
}

.submit {
  color: $white;
  width: 100%;
  background-color: $coral;
  height: 2.5rem;
  font-family: "Poppins";
  font-size: 1rem;
  border: none;
  border-radius: 0.6rem;

  &:hover {
    cursor: pointer;
  }
  &:active,
  &:disabled {
    background-color: #cf4249;
  }
  &_loading {
    margin-top: 0.5rem;
    animation: floatUpDown 1s ease-in-out infinite;
  }
}
